table, th {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
     
  }
  
  th {
    color:white;
    font-size:large;
    height: 70px;
    text-align: center;
    background-color: rgb(238, 8, 8); 
    border: 1px solid #ffffff;
  }
  td{
      background-color:rgb(241, 161, 161);
      border: 1px solid #ffffff;
  }